@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav" id="auth-links">
    @if (User.Identity.IsAuthenticated)
    {
        <li id="manage-link" class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
        </li>
        <li id="logout-link" class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li id="register-link" class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li id="login-link" class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var token = localStorage.getItem('jwtToken'); 
        if (token) {
            document.getElementById('login-link').style.display = 'none';
            document.getElementById('register-link').style.display = 'none';
            document.getElementById('manage-link').style.display = 'block';
            document.getElementById('logout-link').style.display = 'block';
        }
    });
</script>
