@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4 text-primary mb-4">Welcome to Contact Management</h1>
        <p class="lead mb-4">Effortlessly manage your contacts with our intuitive and responsive interface.</p>
        <hr class="my-4" />
        <p class="mb-5">This application was developed as part of a project for Co-Operative Computing, integrating ASP.NET Core MVC with a modern, user-friendly design.</p>

        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="d-flex justify-content-around">
                    <div>
                        <h5 class="text-secondary">Add, Edit, Delete Contacts</h5>
                    </div>
                    <div>
                        <h5 class="text-secondary">Search & Sort Quickly</h5>
                    </div>
                    <div>
                        <h5 class="text-secondary">Fully Responsive Design</h5>
                    </div>
                </div>
            </div>
        </div>

        <a href="/Contacts/Index" class="btn btn-primary btn-lg mt-5 shadow">Get Started</a>
    </div>
</div>
